TestingFlows/MinioFlow.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1758710190013,
    "description" : "Checking the Minio Sensitive parameters through vault",
    "identifier" : "MinioFlow",
    "lastModifiedTimestamp" : 1758710190013,
    "name" : "MinioFlow",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2c1828ab-0b70-34a0-a1bf-cf6202bcafe5",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "610a9cb6-e61d-3399-a064-b38d6542b8a9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fe17c836-2934-35a6-ab08-dea03891c3ce",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fe17c836-2934-35a6-ab08-dea03891c3ce",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "db8cc392-05a4-3a17-ac21-bf726c152785",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "584f7cbe-d6b0-3d63-bdda-e419d81ea868",
        "name" : "ListS3",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "41ee62f7-e478-33ad-8c2f-44e47b4469c4",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9f7a39ac-08fa-37bb-b6af-9dcdc2705fcd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fe17c836-2934-35a6-ab08-dea03891c3ce",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-aws-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService"
      }, {
        "bundle" : {
          "artifact" : "nifi-aws-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.4.0"
        },
        "type" : "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2271e0ca-a538-30c6-89df-cef8b7e075bb",
      "name" : "AWSCredentialsProviderControllerService",
      "properties" : {
        "Access Key" : "#{accesskey}",
        "default-credentials" : "false",
        "Session Time" : "3600",
        "assume-role-sts-signer-override" : "Default Signature",
        "assume-role-sts-region" : "us-west-2",
        "Secret Key" : "#{secretkey}",
        "anonymous-credentials" : "false"
      },
      "propertyDescriptors" : {
        "profile-name" : {
          "displayName" : "Profile Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "profile-name",
          "sensitive" : false
        },
        "Access Key" : {
          "displayName" : "Access Key ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Access Key",
          "sensitive" : true
        },
        "assume-role-proxy-configuration-service" : {
          "displayName" : "Assume Role Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "assume-role-proxy-configuration-service",
          "sensitive" : false
        },
        "default-credentials" : {
          "displayName" : "Use Default Credentials",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "default-credentials",
          "sensitive" : false
        },
        "Session Time" : {
          "displayName" : "Assume Role Session Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Session Time",
          "sensitive" : false
        },
        "assume-role-ssl-context-service" : {
          "displayName" : "Assume Role SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "assume-role-ssl-context-service",
          "sensitive" : false
        },
        "assume-role-sts-signer-override" : {
          "displayName" : "Assume Role STS Signer Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "assume-role-sts-signer-override",
          "sensitive" : false
        },
        "custom-signer-class-name" : {
          "displayName" : "Custom Signer Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-class-name",
          "sensitive" : false
        },
        "Assume Role ARN" : {
          "displayName" : "Assume Role ARN",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role ARN",
          "sensitive" : false
        },
        "custom-signer-module-location" : {
          "displayName" : "Custom Signer Module Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-module-location",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Assume Role Session Name" : {
          "displayName" : "Assume Role Session Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role Session Name",
          "sensitive" : false
        },
        "assume-role-sts-endpoint" : {
          "displayName" : "Assume Role STS Endpoint Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "assume-role-sts-endpoint",
          "sensitive" : false
        },
        "assume-role-sts-region" : {
          "displayName" : "Assume Role STS Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "assume-role-sts-region",
          "sensitive" : false
        },
        "Secret Key" : {
          "displayName" : "Secret Access Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Secret Key",
          "sensitive" : true
        },
        "Credentials File" : {
          "displayName" : "Credentials File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Credentials File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "assume-role-external-id" : {
          "displayName" : "Assume Role External ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "assume-role-external-id",
          "sensitive" : false
        },
        "anonymous-credentials" : {
          "displayName" : "Use Anonymous Credentials",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "anonymous-credentials",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "41ee62f7-e478-33ad-8c2f-44e47b4469c4",
      "position" : {
        "x" : -2.499907169612925,
        "y" : -238.6006857045379
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2c1828ab-0b70-34a0-a1bf-cf6202bcafe5",
      "position" : {
        "x" : -472.0,
        "y" : 144.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "sample-minio",
    "outputPorts" : [ ],
    "parameterContextName" : "minio",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fe17c836-2934-35a6-ab08-dea03891c3ce",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchS3Object",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -552.0,
        "y" : -80.0
      },
      "properties" : {
        "Endpoint Override URL" : "http://localhost:9000",
        "requester-pays" : "false",
        "Object Key" : "${filename}",
        "AWS Credentials Provider service" : "2271e0ca-a538-30c6-89df-cef8b7e075bb",
        "Signer Override" : "Default Signature",
        "Bucket" : "${s3.bucket}",
        "Communications Timeout" : "30 secs",
        "Region" : "us-west-2"
      },
      "propertyDescriptors" : {
        "range-length" : {
          "displayName" : "Range Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "range-length",
          "sensitive" : false
        },
        "range-start" : {
          "displayName" : "Range Start",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "range-start",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Endpoint Override URL" : {
          "displayName" : "Endpoint Override URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Endpoint Override URL",
          "sensitive" : false
        },
        "custom-signer-class-name" : {
          "displayName" : "Custom Signer Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-class-name",
          "sensitive" : false
        },
        "requester-pays" : {
          "displayName" : "Requester Pays",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "requester-pays",
          "sensitive" : false
        },
        "Object Key" : {
          "displayName" : "Object Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Key",
          "sensitive" : false
        },
        "AWS Credentials Provider service" : {
          "displayName" : "AWS Credentials Provider Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "AWS Credentials Provider service",
          "sensitive" : false
        },
        "custom-signer-module-location" : {
          "displayName" : "Custom Signer Module Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-module-location",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Signer Override" : {
          "displayName" : "Signer Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Signer Override",
          "sensitive" : false
        },
        "Bucket" : {
          "displayName" : "Bucket",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bucket",
          "sensitive" : false
        },
        "Version" : {
          "displayName" : "Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Version",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Region" : {
          "displayName" : "Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Region",
          "sensitive" : false
        },
        "encryption-service" : {
          "displayName" : "Encryption Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "encryption-service",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.aws.s3.FetchS3Object",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "584f7cbe-d6b0-3d63-bdda-e419d81ea868",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListS3",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -560.0,
        "y" : -368.0
      },
      "properties" : {
        "list-type" : "1",
        "et-initial-listing-target" : "all",
        "Endpoint Override URL" : "http://localhost:9000",
        "et-time-window" : "3 hours",
        "requester-pays" : "false",
        "listing-strategy" : "timestamps",
        "Signer Override" : "Default Signature",
        "min-age" : "0 sec",
        "write-s3-user-metadata" : "false",
        "AWS Credentials Provider service" : "2271e0ca-a538-30c6-89df-cef8b7e075bb",
        "Listing Batch Size" : "100",
        "write-s3-object-tags" : "false",
        "Bucket" : "sample",
        "Communications Timeout" : "30 secs",
        "Region" : "us-west-2",
        "use-versions" : "false"
      },
      "propertyDescriptors" : {
        "list-type" : {
          "displayName" : "List Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "list-type",
          "sensitive" : false
        },
        "et-initial-listing-target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-initial-listing-target",
          "sensitive" : false
        },
        "prefix" : {
          "displayName" : "Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "prefix",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Endpoint Override URL" : {
          "displayName" : "Endpoint Override URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Endpoint Override URL",
          "sensitive" : false
        },
        "et-time-window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "et-time-window",
          "sensitive" : false
        },
        "custom-signer-class-name" : {
          "displayName" : "Custom Signer Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-class-name",
          "sensitive" : false
        },
        "requester-pays" : {
          "displayName" : "Requester Pays",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "requester-pays",
          "sensitive" : false
        },
        "custom-signer-module-location" : {
          "displayName" : "Custom Signer Module Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "custom-signer-module-location",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "listing-strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "listing-strategy",
          "sensitive" : false
        },
        "Signer Override" : {
          "displayName" : "Signer Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Signer Override",
          "sensitive" : false
        },
        "delimiter" : {
          "displayName" : "Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "delimiter",
          "sensitive" : false
        },
        "min-age" : {
          "displayName" : "Minimum Object Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "min-age",
          "sensitive" : false
        },
        "write-s3-user-metadata" : {
          "displayName" : "Write User Metadata",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "write-s3-user-metadata",
          "sensitive" : false
        },
        "max-age" : {
          "displayName" : "Maximum Object Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max-age",
          "sensitive" : false
        },
        "AWS Credentials Provider service" : {
          "displayName" : "AWS Credentials Provider Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "AWS Credentials Provider service",
          "sensitive" : false
        },
        "Listing Batch Size" : {
          "displayName" : "Listing Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Listing Batch Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "write-s3-object-tags" : {
          "displayName" : "Write Object Tags",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "write-s3-object-tags",
          "sensitive" : false
        },
        "Bucket" : {
          "displayName" : "Bucket",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bucket",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Region" : {
          "displayName" : "Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Region",
          "sensitive" : false
        },
        "et-state-cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "et-state-cache",
          "sensitive" : false
        },
        "use-versions" : {
          "displayName" : "Use Versions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "use-versions",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.aws.s3.ListS3",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "minio" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "minio",
      "parameterGroupName" : "minio",
      "parameterProvider" : "70ecc436-0199-1000-fafa-aa47ab1943fd",
      "parameters" : [ {
        "name" : "accesskey",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "secretkey",
        "provided" : true,
        "sensitive" : true
      } ],
      "synchronized" : true
    }
  },
  "parameterProviders" : {
    "70ecc436-0199-1000-fafa-aa47ab1943fd" : {
      "bundle" : {
        "artifact" : "nifi-hashicorp-vault-nar",
        "group" : "org.apache.nifi",
        "version" : "2.4.0"
      },
      "identifier" : "70ecc436-0199-1000-fafa-aa47ab1943fd",
      "name" : "HashiCorpVaultParameterProvider",
      "type" : "org.apache.nifi.vault.hashicorp.HashiCorpVaultParameterProvider"
    }
  },
  "snapshotMetadata" : {
    "author" : "CN=Nifi, OU=DEMO",
    "flowIdentifier" : "MinioFlow",
    "timestamp" : 0
  }
}